In [2]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from unicodedata import normalize

table_MN = pd.read_html('https://en.wikipedia.org/wiki/Minnesota')

In [3]:
table_MN

[                                            Minnesota  \
 0                                               State
 1   .mw-parser-output .ib-settlement-cols{text-ali...
 2   Nicknames: Land of 10,000 Lakes; North Star St...
 3   Motto: L'Étoile du Nord (French: The Star of t...
 4                           Anthem: "Hail! Minnesota"
 5   Map of the United States with Minnesota highli...
 6                                             Country
 7                                    Before statehood
 8                               Admitted to the Union
 9                                             Capital
 10                                       Largest city
 11                       Largest county or equivalent
 12                      Largest metro and urban areas
 13                                         Government
 14                                         • Governor
 15                              • Lieutenant Governor
 16                                        Legislature
 17                                      • Upper house
 18                                      • Lower house
 19                                          Judiciary
 20                                      U.S. senators
 21                              U.S. House delegation
 22                                               Area
 23                                            • Total
 24                                             • Land
 25                                            • Water
 26                                             • Rank
 27                                         Dimensions
 28                                           • Length
 29                                            • Width
 30                                          Elevation
 31           Highest elevation (Eagle Mountain[1][a])
 32          Lowest elevation (Lake Superior[1][a][2])
 33                                  Population (2022)
 34                                            • Total
 35                                             • Rank
 36                                          • Density
 37                                             • Rank
 38                          • Median household income
 39                                      • Income rank
 40                                            Demonym
 41                                           Language
 42                                • Official language
 43                                  • Spoken language
 44                                          Time zone
 45                                     • Summer (DST)
 46                                  USPS abbreviation
 47                                      ISO 3166 code
 48                           Traditional abbreviation
 49                                           Latitude
 50                                          Longitude
 51                                            Website

                                           Minnesota.1
 0                                               State
 1   .mw-parser-output .ib-settlement-cols{text-ali...
 2   Nicknames: Land of 10,000 Lakes; North Star St...
 3   Motto: L'Étoile du Nord (French: The Star of t...
 4                           Anthem: "Hail! Minnesota"
 5   Map of the United States with Minnesota highli...
 6                                       United States
 7                                 Minnesota Territory
 8              May 11, 1858 (32nd State in the Union)
 9                                          Saint Paul
 10                                        Minneapolis
 11                                           Hennepin
 12                             Minneapolis–Saint Paul
 13                                         Government
 14                                     Tim Walz (DFL)
 15                               Peggy Flanagan (DFL)
 16                              Minnesota Legislature
 17                                             Senate
 18                           House of Representatives
 19                            Minnesota Supreme Court
 20               Amy Klobuchar (DFL) Tina Smith (DFL)
 21                   4 Democrats 4 Republicans (list)
 22                                               Area
 23                      86,935.83 sq mi (225,163 km2)
 24                      79,626.74 sq mi (206,232 km2)
 25                  7,309.09 sq mi (18,930 km2) 8.40%
 26                                               12th
 27                                         Dimensions
 28                              about 400 mi (640 km)
 29                            200–350 mi (320–560 km)
 30                                   1,200 ft (370 m)
 31                                   2,301 ft (701 m)
 32                                     602 ft (183 m)
 33                                  Population (2022)
 34                                       5,717,184[3]
 35                                               22nd
 36                              68.9/sq mi (26.6/km2)
 37                                 36th (2020 census)
 38                                         $74,593[4]
 39                                               13th
 40                                         Minnesotan
 41                                           Language
 42                                               none
 43              English 88.9% Spanish Somali Hmong[5]
 44                               UTC– 06:00 (Central)
 45                                   UTC– 05:00 (CDT)
 46                                                 MN
 47                                              US-MN
 48                                              Minn.
 49                             43° 30′ N to 49° 23′ N
 50                             89° 29′ W to 97° 14′ W
 51                                             mn.gov  ,
                    List of state symbols  \
                          Living insignia
 0                                   Bird
 1                              Butterfly
 2                                   Fish
 3                                 Flower
 4                               Mushroom
 5                                   Tree
 6                     Inanimate insignia
 7                               Beverage
 8                                   Food
 9                               Gemstone
 10                                 Other
 11                         State quarter
 12                      Released in 2005
 13  Lists of United States state symbols


                                     Living insignia.1
 0                                         Common loon
 1                                             Monarch
 2                                             Walleye
 3                       Pink-and-white lady's slipper
 4                  Common morel (Morchella esculenta)
 5                                      Norway pine[6]
 6                                  Inanimate insignia
 7                                                Milk
 8   .mw-parser-output .plainlist ol,.mw-parser-out...
 9                                 Lake Superior agate
 10                                  Photograph: Grace
 11                                      State quarter
 12                                   Released in 2005
 13               Lists of United States state symbols  ,
               Location July (°F) July (°C) January (°F) January (°C)
 0          Minneapolis     83/64     28/18         23/7       −4/−13
 1           Saint Paul     83/63     28/17         23/6       −5/−14
 2            Rochester     82/63     28/17         23/3       −5/−16
 3               Duluth     76/55     24/13         19/1       −7/−17
 4            St. Cloud     81/58     27/14        18/−1       −7/−18
 5              Mankato     86/62     30/16         23/3       −5/−16
 6  International Falls     77/52     25/11        15/−6       −9/−21,
    Largest cities or towns in Minnesota Source:[81]                         \
                                  Unnamed: 0_level_1                   Rank
 0                            Minneapolis Saint Paul                      1
 1                            Minneapolis Saint Paul                      2
 2                            Minneapolis Saint Paul                      3
 3                            Minneapolis Saint Paul                      4
 4                            Minneapolis Saint Paul                      5
 5                            Minneapolis Saint Paul                      6
 6                            Minneapolis Saint Paul                      7
 7                            Minneapolis Saint Paul                      8
 8                            Minneapolis Saint Paul                      9
 9                            Minneapolis Saint Paul                     10
 10                           Minneapolis Saint Paul  Rochester Bloomington

                                                                 \
              Name      County      Pop.     Unnamed: 5_level_1
 0     Minneapolis    Hennepin  425336.0  Rochester Bloomington
 1      Saint Paul      Ramsey  307193.0  Rochester Bloomington
 2       Rochester     Olmsted  121465.0  Rochester Bloomington
 3     Bloomington    Hennepin   89298.0  Rochester Bloomington
 4          Duluth   St. Louis   86372.0  Rochester Bloomington
 5   Brooklyn Park    Hennepin   84526.0  Rochester Bloomington
 6        Plymouth    Hennepin   79828.0  Rochester Bloomington
 7        Woodbury  Washington   76990.0  Rochester Bloomington
 8       Lakeville      Dakota   72812.0  Rochester Bloomington
 9          Blaine       Anoka   70935.0  Rochester Bloomington
 10            NaN         NaN       NaN                    NaN


    Unnamed: 6_level_1 Unnamed: 7_level_1 Unnamed: 8_level_1 Unnamed: 9_level_1
 0                 NaN                NaN                NaN                NaN
 1                 NaN                NaN                NaN                NaN
 2                 NaN                NaN                NaN                NaN
 3                 NaN                NaN                NaN                NaN
 4                 NaN                NaN                NaN                NaN
 5                 NaN                NaN                NaN                NaN
 6                 NaN                NaN                NaN                NaN
 7                 NaN                NaN                NaN                NaN
 8                 NaN                NaN                NaN                NaN
 9                 NaN                NaN                NaN                NaN
 10                NaN                NaN                NaN                NaN  ,
                                     Census  \
 0                                     1850
 1                                     1860
 2                                     1870
 3                                     1880
 4                                     1890
 5                                     1900
 6                                     1910
 7                                     1920
 8                                     1930
 9                                     1940
 10                                    1950
 11                                    1960
 12                                    1970
 13                                    1980
 14                                    1990
 15                                    2000
 16                                    2010
 17                                    2020
 18                             2022 (est.)
 19  Source: 1910–2020[82] 2022 Estimate[3]

                                       Pop.  \
 0                                     6077
 1                                   172023
 2                                   439706
 3                                   780773
 4                                  1310283
 5                                  1751394
 6                                  2075708
 7                                  2387125
 8                                  2563953
 9                                  2792300
 10                                 2982483
 11                                 3413864
 12                                 3804971
 13                                 4075970
 14                                 4375099
 15                                 4919479
 16                                 5303925
 17                                 5706494
 18                                 5717184
 19  Source: 1910–2020[82] 2022 Estimate[3]

    .mw-parser-output .sr-only{border:0;clip:rect(0,0,0,0);clip-path:polygon(0px 0px,0px 0px,0px 0px);height:1px;margin:-1px;overflow:hidden;padding:0;position:absolute;width:1px;white-space:nowrap}Note  \
 0                                                 NaN
 1                                                 NaN
 2                                                 NaN
 3                                                 NaN
 4                                                 NaN
 5                                                 NaN
 6                                                 NaN
 7                                                 NaN
 8                                                 NaN
 9                                                 NaN
 10                                                NaN
 11                                                NaN
 12                                                NaN
 13                                                NaN
 14                                                NaN
 15                                                NaN
 16                                                NaN
 17                                                NaN
 18                                                NaN
 19             Source: 1910–2020[82] 2022 Estimate[3]

                                         %±
 0                                        —
 1                                 2,730.7%
 2                                   155.6%
 3                                    77.6%
 4                                    67.8%
 5                                    33.7%
 6                                    18.5%
 7                                    15.0%
 8                                     7.4%
 9                                     8.9%
 10                                    6.8%
 11                                   14.5%
 12                                   11.5%
 13                                    7.1%
 14                                    7.3%
 15                                   12.4%
 16                                    7.8%
 17                                    7.6%
 18                                    0.2%
 19  Source: 1910–2020[82] 2022 Estimate[3]  ,
                         Race Percentage
 0                      White      77.5%
 1  Black or African American       7.0%
 2            American Indian       1.2%
 3                      Asian       5.3%
 4           Pacific Islander       0.1%
 5                 Other race       3.2%
 6          Two or more races       6.1%,
     Year Republican         Democratic         Third party
     Year        No.       %        No.       %         No.       %
 0   2020    1484065  45.28%    1717077  52.40%       76029   2.32%
 1   2016    1323232  44.93%    1367825  46.44%      254176   8.63%
 2   2012    1320225  44.96%    1546167  52.65%       70169   2.39%
 3   2008    1275409  43.82%    1573354  54.06%       61606   2.12%
 4   2004    1346695  47.61%    1445014  51.09%       36678   1.30%
 5   2000    1109659  45.50%    1168266  47.91%      160760   6.59%
 6   1996     766476  34.96%    1120438  51.10%      305726  13.94%
 7   1992     747841  31.85%    1020997  43.48%      579110  24.66%
 8   1988     962337  45.90%    1109471  52.91%       24982   1.19%
 9   1984    1032603  49.54%    1036364  49.72%       15482   0.74%
 10  1980     873241  42.56%     954174  46.50%      224538  10.94%
 11  1976     819395  42.02%    1070440  54.90%       60096   3.08%
 12  1972     898269  51.58%     802346  46.07%       41037   2.36%
 13  1968     658643  41.46%     857738  54.00%       72129   4.54%
 14  1964     559624  36.00%     991117  63.76%        3721   0.24%
 15  1960     757915  49.16%     779933  50.58%        4039   0.26%
 16  1956     719302  53.68%     617525  46.08%        3178   0.24%
 17  1952     763211  55.33%     608458  44.11%        7814   0.57%
 18  1948     483617  39.89%     692966  57.16%       35643   2.94%
 19  1944     527416  46.86%     589864  52.41%        8249   0.73%
 20  1940     596274  47.66%     644196  51.49%       10718   0.86%
 21  1936     350461  31.01%     698811  61.84%       80703   7.14%
 22  1932     363959  36.29%     600806  59.91%       38078   3.80%
 23  1928     560977  57.77%     396451  40.83%       13548   1.40%
 24  1924     420759  51.18%      55913   6.80%      345474  42.02%
 25  1920     519421  70.59%     142994  19.43%       73423   9.98%
 26  1916     179544  46.35%     179152  46.25%       28668   7.40%
 27  1912      64334  19.25%     106426  31.84%      163459  48.91%
 28  1908     195843  59.11%     109401  33.02%       26060   7.87%
 29  1904     216651  73.98%      55187  18.84%       21022   7.18%
 30  1900     190461  60.21%     112901  35.69%       12949   4.09%
 31  1896     193503  56.62%     139735  40.89%        8524   2.49%
 32  1892     122823  45.96%     100920  37.76%       43495  16.28%
 33  1888     142492  54.12%     104385  39.65%       16408   6.23%
 34  1884     111685  58.78%      70065  36.87%        8267   4.35%
 35  1880      93902  62.28%      53315  35.36%        3553   2.36%
 36  1876      72955  58.80%      48587  39.16%        2533   2.04%
 37  1872      55708  61.27%      35211  38.73%           0   0.00%
 38  1868      43722  60.88%      28096  39.12%           0   0.00%
 39  1864      25055  59.06%      17367  40.94%           0   0.00%
 40  1860      22069  63.53%      11920  34.31%         748   2.15%,
                        0                                                  1  \
 0  Preceded byCalifornia  List of U.S. states by date of statehood Admit...

                     2
 0  Succeeded byOregon  ,
       Topics related to Minnesota Land of 10,000 Lakes  \
 0    .mw-parser-output .hlist dl,.mw-parser-output ...
 1    .mw-parser-output .navbar{display:inline;font-...
 2                                 Saint Paul (capital)
 3                                               Topics
 4                                              Society
 ..                                                 ...
 98                                    Federal district
 99                                       Insular areas
 100                                   Outlying islands
 101                                Indian reservations
 102                                             Others

     Topics related to Minnesota Land of 10,000 Lakes.1
 0    .mw-parser-output .hlist dl,.mw-parser-output ...
 1    .mw-parser-output .navbar{display:inline;font-...
 2                                 Saint Paul (capital)
 3    Index Outline Biking/Cycling Cities Climate (C...
 4    Abortion Culture Crime Demographics Economy Ed...
 ..                                                 ...
 98                                    Washington, D.C.
 99   American Samoa Guam Northern Mariana Islands P...
 100  Baker Island Howland Island Jarvis Island John...
 101                        List of Indian reservations
 102                                    Federal enclave

 [103 rows x 2 columns],

In [4]:
print(f'Total tables: {len(table_MN)}')

Total tables: 29

In [5]:
!pip install tabula-py

Collecting tabula-py
  Downloading tabula_py-2.8.2-py3-none-any.whl (12.0 MB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 12.0/12.0 MB 97.8 MB/s eta 0:00:00
Requirement already satisfied: pandas>=0.25.3 in /usr/local/lib/python3.10/dist-packages (from tabula-py) (1.5.3)
Requirement already satisfied: numpy in /usr/local/lib/python3.10/dist-packages (from tabula-py) (1.23.5)
Requirement already satisfied: distro in /usr/lib/python3/dist-packages (from tabula-py) (1.7.0)
Collecting jpype1 (from tabula-py)
  Downloading JPype1-1.4.1-cp310-cp310-manylinux_2_12_x86_64.manylinux2010_x86_64.whl (465 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 465.3/465.3 kB 40.1 MB/s eta 0:00:00
Requirement already satisfied: python-dateutil>=2.8.1 in /usr/local/lib/python3.10/dist-packages (from pandas>=0.25.3->tabula-py) (2.8.2)
Requirement already satisfied: pytz>=2020.1 in /usr/local/lib/python3.10/dist-packages (from pandas>=0.25.3->tabula-py) (2023.3.post1)
Requirement already satisfied: packaging in /usr/local/lib/python3.10/dist-packages (from jpype1->tabula-py) (23.2)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.10/dist-packages (from python-dateutil>=2.8.1->pandas>=0.25.3->tabula-py) (1.16.0)
Installing collected packages: jpype1, tabula-py
Successfully installed jpype1-1.4.1 tabula-py-2.8.2

In [6]:
import tabula

In [7]:
table_MN = pd.read_html('https://en.wikipedia.org/wiki/Minnesota', match='United States presidential election results for Minnesota')
len(table_MN)

1

In [8]:
jan2020 = 'https://www.longbeach.gov/globalassets/police/media-library/documents/crime-info/statistics/2020/rd-january-2020'

In [9]:
jan20 = tabula.read_pdf(jan2020, pages=1)

In [10]:
jan20

[      RD CRIMES AGAINST PERSONS CRIMES AGAINST PROPERTY TOTALS Unnamed: 0  \
 0    NaN                 MURDER                 MANSLTR   RAPE    ROBBERY
 1    NaN                    NaN                     NaN    NaN        NaN
 2   10.0                    NaN                     NaN    NaN        NaN
 3   20.0                    NaN                     NaN    NaN        NaN
 4   21.0                    NaN                     NaN    NaN        NaN
 5   30.0                    NaN                     NaN    NaN        NaN
 6   31.0                    NaN                     NaN    NaN        NaN
 7   41.0                    NaN                     NaN    NaN        NaN
 8   42.0                    NaN                     NaN    NaN        NaN
 9   43.0                    NaN                     NaN    NaN        NaN
 10  44.0                    NaN                     NaN    NaN        NaN
 11  45.0                    NaN                     NaN    NaN        NaN
 12  51.0                    NaN                     NaN    NaN        NaN
 13  52.0                      1                     NaN    NaN        NaN
 14  53.0                    NaN                     NaN    NaN        NaN
 15  61.0                    NaN                     NaN    NaN        NaN
 16  62.0                    NaN                     NaN    NaN        NaN
 17  63.0                    NaN                     NaN    NaN        NaN
 18  64.0                    NaN                     NaN    NaN        NaN
 19  71.0                    NaN                     NaN    NaN        NaN
 20  72.0                    NaN                     NaN    NaN          1
 21  73.0                    NaN                     NaN    NaN        NaN
 22  74.0                    NaN                     NaN    NaN        NaN
 23  75.0                    NaN                     NaN    NaN        NaN
 24  76.0                    NaN                     NaN    NaN        NaN
 25  81.0                    NaN                     NaN      2        NaN
 26  82.0                    NaN                     NaN    NaN          3
 27  83.0                    NaN                     NaN    NaN        NaN
 28  84.0                    NaN                     NaN    NaN        NaN
 29  85.0                    NaN                     NaN    NaN        NaN
 30  91.0                    NaN                     NaN    NaN          1
 31  92.0                    NaN                     NaN    NaN        NaN
 32  93.0                    NaN                     NaN    NaN        NaN

          Unnamed: 1 Unnamed: 2     Unnamed: 3   Unnamed: 4    Unnamed: 5  \
 0   AGGRAV\rASSAULT   BURGLARY  LARCENY THEFT  AUTO\rTHEFT         ARSON
 1               NaN        RES            COM   AUTO\rBURG  GRAND\rTHEFT
 2               NaN        NaN            NaN          NaN           NaN
 3               NaN        NaN            NaN            1           NaN
 4               NaN        NaN            NaN          NaN           NaN
 5               NaN        NaN            NaN          NaN           NaN
 6               NaN        NaN            NaN          NaN           NaN
 7               NaN        NaN            NaN          NaN           NaN
 8               NaN        NaN              1          NaN             1
 9                 1        NaN              2          NaN           NaN
 10              NaN        NaN            NaN          NaN           NaN
 11              NaN        NaN              1          NaN           NaN
 12              NaN          1            NaN          NaN           NaN
 13                1        NaN            NaN            1             1
 14                2          2              3            4           NaN
 15                1        NaN            NaN          NaN           NaN
 16              NaN          1            NaN          NaN           NaN
 17              NaN        NaN            NaN          NaN           NaN
 18              NaN          1            NaN            1             1
 19              NaN        NaN            NaN          NaN           NaN
 20              NaN        NaN            NaN          NaN           NaN
 21                1        NaN            NaN          NaN           NaN
 22              NaN        NaN            NaN          NaN             1
 23                1        NaN            NaN          NaN             1
 24              NaN        NaN            NaN          NaN             1
 25              NaN        NaN            NaN            1           NaN
 26              NaN          1            NaN            3             2
 27              NaN        NaN            NaN            1           NaN
 28              NaN        NaN              1          NaN           NaN
 29              NaN        NaN            NaN          NaN           NaN
 30                1          1            NaN            1             1
 31              NaN          2            NaN          NaN           NaN
 32              NaN        NaN            NaN          NaN           NaN

        Unnamed: 6     Unnamed: 7    Unnamed: 8  Unnamed: 9  Unnamed: 10  \
 0   TOTAL\rPART 1  TOTAL\rPART 2  GRAND\rTOTAL         NaN          NaN
 1    PETTY\rTHEFT    BIKE\rTHEFT           NaN         NaN          NaN
 2             NaN            NaN           NaN         NaN          0.0
 3             NaN            NaN           NaN         NaN          1.0
 4               4            NaN           NaN         NaN          4.0
 5             NaN            NaN           NaN         NaN          0.0
 6             NaN            NaN           NaN         NaN          0.0
 7             NaN            NaN             2         NaN          2.0
 8               1            NaN             3         NaN          6.0
 9             NaN            NaN             1         NaN          4.0
 10              2            NaN           NaN         NaN          2.0
 11            NaN            NaN           NaN         NaN          1.0
 12              1            NaN           NaN         NaN          2.0
 13              1            NaN             1         NaN          6.0
 14            NaN            NaN           NaN         NaN         11.0
 15            NaN            NaN           NaN         NaN          1.0
 16              1            NaN             2         NaN          4.0
 17            NaN            NaN           NaN         NaN          0.0
 18            NaN            NaN           NaN         1.0          4.0
 19              2            NaN             2         NaN          4.0
 20            NaN            NaN             1         NaN          2.0
 21            NaN            NaN           NaN         NaN          1.0
 22            NaN            NaN           NaN         NaN          1.0
 23            NaN            NaN           NaN         NaN          2.0
 24              1            NaN             1         NaN          3.0
 25              1              1           NaN         NaN          5.0
 26              2              2           NaN         NaN         13.0
 27            NaN            NaN           NaN         NaN          1.0
 28            NaN            NaN           NaN         NaN          1.0
 29            NaN            NaN           NaN         NaN          0.0
 30            NaN            NaN             3         NaN          8.0
 31              2            NaN             1         NaN          5.0
 32            NaN            NaN             1         NaN          1.0

     Unnamed: 11  Unnamed: 12
 0           NaN          NaN
 1           NaN          NaN
 2           3.0          3.0
 3           3.0          4.0
 4           0.0          4.0
 5           0.0          0.0
 6           1.0          1.0
 7           6.0          8.0
 8           4.0         10.0
 9           3.0          7.0
 10          8.0         10.0
 11          3.0          4.0
 12          1.0          3.0
 13          7.0         13.0
 14          9.0         20.0
 15          6.0          7.0
 16          4.0          8.0
 17          1.0          1.0
 18          3.0          7.0
 19          4.0          8.0
 20          2.0          4.0
 21          3.0          4.0
 22          4.0          5.0
 23          2.0          4.0
 24          6.0          9.0
 25         29.0         36.0
 26         10.0         24.0
 27          6.0          7.0
 28          5.0          6.0
 29          3.0          3.0
 30         11.0         19.0
 31         12.0         17.0
 32         10.0         11.0  ]

In [11]:
type(jan20)

list

In [12]:
len(jan20)

1

In [13]:
jan20[0]

,RD,CRIMES AGAINST PERSONS,CRIMES AGAINST PROPERTY,TOTALS,Unnamed: 0,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,Unnamed: 10,Unnamed: 11,Unnamed: 12
0,NaN,MURDER,MANSLTR,RAPE,ROBBERY,AGGRAV\rASSAULT,BURGLARY,LARCENY THEFT,AUTO\rTHEFT,ARSON,TOTAL\rPART 1,TOTAL\rPART 2,GRAND\rTOTAL,NaN,NaN,NaN,NaN
1,NaN,NaN,NaN,NaN,NaN,NaN,RES,COM,AUTO\rBURG,GRAND\rTHEFT,PETTY\rTHEFT,BIKE\rTHEFT,NaN,NaN,NaN,NaN,NaN
2,10.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,3.0,3.0
3,20.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1,NaN,NaN,NaN,NaN,NaN,1.0,3.0,4.0
4,21.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,4,NaN,NaN,NaN,4.0,0.0,4.0
5,30.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,0.0,0.0
6,31.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,1.0,1.0
7,41.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2,NaN,2.0,6.0,8.0
8,42.0,NaN,NaN,NaN,NaN,NaN,NaN,1,NaN,1,1,NaN,3,NaN,6.0,4.0,10.0
9,43.0,NaN,NaN,NaN,NaN,1,NaN,2,NaN,NaN,NaN,NaN,1,NaN,4.0,3.0,7.0
10,44.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2,NaN,NaN,NaN,2.0,8.0,10.0
11,45.0,NaN,NaN,NaN,NaN,NaN,NaN,1,NaN,NaN,NaN,NaN,NaN,NaN,1.0,3.0,4.0
12,51.0,NaN,NaN,NaN,NaN,NaN,1,NaN,NaN,NaN,1,NaN,NaN,NaN,2.0,1.0,3.0
13,52.0,1,NaN,NaN,NaN,1,NaN,NaN,1,1,1,NaN,1,NaN,6.0,7.0,13.0
14,53.0,NaN,NaN,NaN,NaN,2,2,3,4,NaN,NaN,NaN,NaN,NaN,11.0,9.0,20.0
15,61.0,NaN,NaN,NaN,NaN,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0,6.0,7.0
16,62.0,NaN,NaN,NaN,NaN,NaN,1,NaN,NaN,NaN,1,NaN,2,NaN,4.0,4.0,8.0
17,63.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,1.0,1.0
18,64.0,NaN,NaN,NaN,NaN,NaN,1,NaN,1,1,NaN,NaN,NaN,1.0,4.0,3.0,7.0
19,71.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2,NaN,2,NaN,4.0,4.0,8.0
20,72.0,NaN,NaN,NaN,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1,NaN,2.0,2.0,4.0
21,73.0,NaN,NaN,NaN,NaN,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0,3.0,4.0
22,74.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1,NaN,NaN,NaN,NaN,1.0,4.0,5.0
23,75.0,NaN,NaN,NaN,NaN,1,NaN,NaN,NaN,1,NaN,NaN,NaN,NaN,2.0,2.0,4.0
24,76.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1,1,NaN,1,NaN,3.0,6.0,9.0
25,81.0,NaN,NaN,2,NaN,NaN,NaN,NaN,1,NaN,1,1,NaN,NaN,5.0,29.0,36.0
26,82.0,NaN,NaN,NaN,3,NaN,1,NaN,3,2,2,2,NaN,NaN,13.0,10.0,24.0
27,83.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1,NaN,NaN,NaN,NaN,NaN,1.0,6.0,7.0
28,84.0,NaN,NaN,NaN,NaN,NaN,NaN,1,NaN,NaN,NaN,NaN,NaN,NaN,1.0,5.0,6.0
29,85.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,3.0,3.0
30,91.0,NaN,NaN,NaN,1,1,1,NaN,1,1,NaN,NaN,3,NaN,8.0,11.0,19.0
31,92.0,NaN,NaN,NaN,NaN,NaN,2,NaN,NaN,NaN,2,NaN,1,NaN,5.0,12.0,17.0
32,93.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1,NaN,1.0,10.0,11.0

In [14]:
len(jan20[0])

33

In [15]:
jan20_9 = tabula.read_pdf(jan2020, pages=9)
jan20_9 = jan20_9[0]
jan20_9

,RD,CRIMES AGAINST PERSONS,CRIMES AGAINST PROPERTY,TOTALS,Unnamed: 0,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,Unnamed: 10,Unnamed: 11,Unnamed: 12
0,NaN,MURDER,MANSLTR,RAPE,ROBBERY,AGGRAV\rASSAULT,BURGLARY,LARCENY THEFT,AUTO\rTHEFT,ARSON,TOTAL\rPART 1,TOTAL\rPART 2,GRAND\rTOTAL,NaN,NaN,NaN,NaN
1,NaN,NaN,NaN,NaN,NaN,NaN,RES,COM,AUTO\rBURG,GRAND\rTHEFT,PETTY\rTHEFT,BIKE\rTHEFT,NaN,NaN,NaN,NaN,NaN
2,691,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,0,0
3,692,NaN,NaN,1,NaN,1,NaN,NaN,1,NaN,1,NaN,NaN,NaN,4,2,6
4,693,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,0,0
5,694,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,1,1
6,695,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1,8,1,NaN,NaN,10,6,16
7,800,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,0,1
8,801,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,0,0
9,810,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,0,0
10,821,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,0,0
11,822,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,0,0
12,823,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,0,0
13,824,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,0,0
14,825,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,0,0
15,SHPD,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1,2,NaN,NaN,NaN,3,2,5
16,Unk,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,0,0
17,2020,2,0,15,86,63,121,77,200,151,325,23,205,11,"1,279","1,316","2,595"
18,2019,2,0,23,79,93,190,75,142,124,311,21,177,16,"1,253","1,339","2,592"
19,%CHG,0.0%,0.0%,-34.8%,8.9%,-32.3%,-36.3%,2.7%,40.8%,21.8%,4.5%,9.5%,15.8%,-31.3%,2.1%,-1.7%,0.1%

In [16]:
len(jan20_9)

20

In [19]:
df9 = pd.DataFrame(jan20_9)
df9

,RD,CRIMES AGAINST PERSONS,CRIMES AGAINST PROPERTY,TOTALS,Unnamed: 0,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,Unnamed: 10,Unnamed: 11,Unnamed: 12
0,NaN,MURDER,MANSLTR,RAPE,ROBBERY,AGGRAV\rASSAULT,BURGLARY,LARCENY THEFT,AUTO\rTHEFT,ARSON,TOTAL\rPART 1,TOTAL\rPART 2,GRAND\rTOTAL,NaN,NaN,NaN,NaN
1,NaN,NaN,NaN,NaN,NaN,NaN,RES,COM,AUTO\rBURG,GRAND\rTHEFT,PETTY\rTHEFT,BIKE\rTHEFT,NaN,NaN,NaN,NaN,NaN
2,691,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,0,0
3,692,NaN,NaN,1,NaN,1,NaN,NaN,1,NaN,1,NaN,NaN,NaN,4,2,6
4,693,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,0,0
5,694,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,1,1
6,695,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1,8,1,NaN,NaN,10,6,16
7,800,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,0,1
8,801,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,0,0
9,810,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,0,0
10,821,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,0,0
11,822,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,0,0
12,823,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,0,0
13,824,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,0,0
14,825,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,0,0
15,SHPD,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1,2,NaN,NaN,NaN,3,2,5
16,Unk,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,0,0
17,2020,2,0,15,86,63,121,77,200,151,325,23,205,11,"1,279","1,316","2,595"
18,2019,2,0,23,79,93,190,75,142,124,311,21,177,16,"1,253","1,339","2,592"
19,%CHG,0.0%,0.0%,-34.8%,8.9%,-32.3%,-36.3%,2.7%,40.8%,21.8%,4.5%,9.5%,15.8%,-31.3%,2.1%,-1.7%,0.1%

In [22]:
df9.shape

(20, 17)

In [23]:
df9.iloc[7]

RD                         800
CRIMES AGAINST PERSONS     NaN
CRIMES AGAINST PROPERTY    NaN
TOTALS                     NaN
Unnamed: 0                 NaN
Unnamed: 1                 NaN
Unnamed: 2                 NaN
Unnamed: 3                 NaN
Unnamed: 4                 NaN
Unnamed: 5                 NaN
Unnamed: 6                 NaN
Unnamed: 7                 NaN
Unnamed: 8                 NaN
Unnamed: 9                 NaN
Unnamed: 10                  0
Unnamed: 11                  0
Unnamed: 12                  1
Name: 7, dtype: object

In [24]:
len(df9.iloc[7])

17

In [52]:
an20 = tabula.read_pdf(jan2020, pages='all')

In [53]:
an20

[      RD CRIMES AGAINST PERSONS CRIMES AGAINST PROPERTY TOTALS Unnamed: 0  \
 0    NaN                 MURDER                 MANSLTR   RAPE    ROBBERY
 1    NaN                    NaN                     NaN    NaN        NaN
 2   10.0                    NaN                     NaN    NaN        NaN
 3   20.0                    NaN                     NaN    NaN        NaN
 4   21.0                    NaN                     NaN    NaN        NaN
 5   30.0                    NaN                     NaN    NaN        NaN
 6   31.0                    NaN                     NaN    NaN        NaN
 7   41.0                    NaN                     NaN    NaN        NaN
 8   42.0                    NaN                     NaN    NaN        NaN
 9   43.0                    NaN                     NaN    NaN        NaN
 10  44.0                    NaN                     NaN    NaN        NaN
 11  45.0                    NaN                     NaN    NaN        NaN
 12  51.0                    NaN                     NaN    NaN        NaN
 13  52.0                      1                     NaN    NaN        NaN
 14  53.0                    NaN                     NaN    NaN        NaN
 15  61.0                    NaN                     NaN    NaN        NaN
 16  62.0                    NaN                     NaN    NaN        NaN
 17  63.0                    NaN                     NaN    NaN        NaN
 18  64.0                    NaN                     NaN    NaN        NaN
 19  71.0                    NaN                     NaN    NaN        NaN
 20  72.0                    NaN                     NaN    NaN          1
 21  73.0                    NaN                     NaN    NaN        NaN
 22  74.0                    NaN                     NaN    NaN        NaN
 23  75.0                    NaN                     NaN    NaN        NaN
 24  76.0                    NaN                     NaN    NaN        NaN
 25  81.0                    NaN                     NaN      2        NaN
 26  82.0                    NaN                     NaN    NaN          3
 27  83.0                    NaN                     NaN    NaN        NaN
 28  84.0                    NaN                     NaN    NaN        NaN
 29  85.0                    NaN                     NaN    NaN        NaN
 30  91.0                    NaN                     NaN    NaN          1
 31  92.0                    NaN                     NaN    NaN        NaN
 32  93.0                    NaN                     NaN    NaN        NaN

          Unnamed: 1 Unnamed: 2     Unnamed: 3   Unnamed: 4    Unnamed: 5  \
 0   AGGRAV\rASSAULT   BURGLARY  LARCENY THEFT  AUTO\rTHEFT         ARSON
 1               NaN        RES            COM   AUTO\rBURG  GRAND\rTHEFT
 2               NaN        NaN            NaN          NaN           NaN
 3               NaN        NaN            NaN            1           NaN
 4               NaN        NaN            NaN          NaN           NaN
 5               NaN        NaN            NaN          NaN           NaN
 6               NaN        NaN            NaN          NaN           NaN
 7               NaN        NaN            NaN          NaN           NaN
 8               NaN        NaN              1          NaN             1
 9                 1        NaN              2          NaN           NaN
 10              NaN        NaN            NaN          NaN           NaN
 11              NaN        NaN              1          NaN           NaN
 12              NaN          1            NaN          NaN           NaN
 13                1        NaN            NaN            1             1
 14                2          2              3            4           NaN
 15                1        NaN            NaN          NaN           NaN
 16              NaN          1            NaN          NaN           NaN
 17              NaN        NaN            NaN          NaN           NaN
 18              NaN          1            NaN            1             1
 19              NaN        NaN            NaN          NaN           NaN
 20              NaN        NaN            NaN          NaN           NaN
 21                1        NaN            NaN          NaN           NaN
 22              NaN        NaN            NaN          NaN             1
 23                1        NaN            NaN          NaN             1
 24              NaN        NaN            NaN          NaN             1
 25              NaN        NaN            NaN            1           NaN
 26              NaN          1            NaN            3             2
 27              NaN        NaN            NaN            1           NaN
 28              NaN        NaN              1          NaN           NaN
 29              NaN        NaN            NaN          NaN           NaN
 30                1          1            NaN            1             1
 31              NaN          2            NaN          NaN           NaN
 32              NaN        NaN            NaN          NaN           NaN

        Unnamed: 6     Unnamed: 7    Unnamed: 8  Unnamed: 9  Unnamed: 10  \
 0   TOTAL\rPART 1  TOTAL\rPART 2  GRAND\rTOTAL         NaN          NaN
 1    PETTY\rTHEFT    BIKE\rTHEFT           NaN         NaN          NaN
 2             NaN            NaN           NaN         NaN          0.0
 3             NaN            NaN           NaN         NaN          1.0
 4               4            NaN           NaN         NaN          4.0
 5             NaN            NaN           NaN         NaN          0.0
 6             NaN            NaN           NaN         NaN          0.0
 7             NaN            NaN             2         NaN          2.0
 8               1            NaN             3         NaN          6.0
 9             NaN            NaN             1         NaN          4.0
 10              2            NaN           NaN         NaN          2.0
 11            NaN            NaN           NaN         NaN          1.0
 12              1            NaN           NaN         NaN          2.0
 13              1            NaN             1         NaN          6.0
 14            NaN            NaN           NaN         NaN         11.0
 15            NaN            NaN           NaN         NaN          1.0
 16              1            NaN             2         NaN          4.0
 17            NaN            NaN           NaN         NaN          0.0
 18            NaN            NaN           NaN         1.0          4.0
 19              2            NaN             2         NaN          4.0
 20            NaN            NaN             1         NaN          2.0
 21            NaN            NaN           NaN         NaN          1.0
 22            NaN            NaN           NaN         NaN          1.0
 23            NaN            NaN           NaN         NaN          2.0
 24              1            NaN             1         NaN          3.0
 25              1              1           NaN         NaN          5.0
 26              2              2           NaN         NaN         13.0
 27            NaN            NaN           NaN         NaN          1.0
 28            NaN            NaN           NaN         NaN          1.0
 29            NaN            NaN           NaN         NaN          0.0
 30            NaN            NaN             3         NaN          8.0
 31              2            NaN             1         NaN          5.0
 32            NaN            NaN             1         NaN          1.0

     Unnamed: 11  Unnamed: 12
 0           NaN          NaN
 1           NaN          NaN
 2           3.0          3.0
 3           3.0          4.0
 4           0.0          4.0
 5           0.0          0.0
 6           1.0          1.0
 7           6.0          8.0
 8           4.0         10.0
 9           3.0          7.0
 10          8.0         10.0
 11          3.0          4.0
 12          1.0          3.0
 13          7.0         13.0
 14          9.0         20.0
 15          6.0          7.0
 16          4.0          8.0
 17          1.0          1.0
 18          3.0          7.0
 19          4.0          8.0
 20          2.0          4.0
 21          3.0          4.0
 22          4.0          5.0
 23          2.0          4.0
 24          6.0          9.0
 25         29.0         36.0
 26         10.0         24.0
 27          6.0          7.0
 28          5.0          6.0
 29          3.0          3.0
 30         11.0         19.0
 31         12.0         17.0
 32         10.0         11.0  ,
        RD CRIMES AGAINST PERSONS CRIMES AGAINST PROPERTY TOTALS Unnamed: 0  \
 0     NaN                 MURDER                 MANSLTR   RAPE    ROBBERY
 1     NaN                    NaN                     NaN    NaN        NaN
 2    94.0                    NaN                     NaN    NaN        NaN
 3   101.0                    NaN                     NaN    NaN        NaN
 4   102.0                    NaN                     NaN    NaN          1
 5   103.0                    NaN                     NaN    NaN        NaN
 6   104.0                    NaN                     NaN    NaN        NaN
 7   111.0                    NaN                     NaN      1          1
 8   112.0                    NaN                     NaN    NaN        NaN
 9   113.0                    NaN                     NaN    NaN        NaN
 10  114.0                    NaN                     NaN    NaN        NaN
 11  121.0                    NaN                     NaN    NaN        NaN
 12  122.0                    NaN                     NaN    NaN          2
 13  123.0                    NaN                     NaN    NaN        NaN
 14  124.0                    NaN                     NaN    NaN          2
 15  131.0                    NaN                     NaN    NaN        NaN
 16  132.0                    NaN                     NaN    NaN          1
 17  133.0                    NaN                     NaN    NaN        NaN
 18  134.0                    NaN                     NaN    NaN        NaN
 19  141.0                    NaN                     NaN    NaN        NaN
 20  142.0                    NaN                     NaN    NaN          1
 21  143.0                    NaN                     NaN    NaN        NaN
 22  144.0                    NaN                     NaN    NaN        NaN
 23  151.0                    NaN                     NaN    NaN          1
 24  152.0                    NaN                     NaN      1          1
 25  153.0                    NaN                     NaN      2          2
 26  161.0                    NaN                     NaN    NaN          1
 27  162.0                    NaN                     NaN    NaN          1
 28  163.0                    NaN                     NaN    NaN        NaN
 29  164.0                    NaN                     NaN    NaN          1
 30  171.0                    NaN                     NaN    NaN        NaN
 31  172.0                    NaN                     NaN    NaN          1
 32  173.0                    NaN                     NaN    NaN          1
 33  174.0                    NaN                     NaN      2        NaN
 34  181.0                    NaN                     NaN    NaN        NaN
 35  182.0                    NaN                     NaN    NaN        NaN

          Unnamed: 1 Unnamed: 2     Unnamed: 3    Unnamed: 4    Unnamed: 5  \
 0   AGGRAV\rASSAULT   BURGLARY  LARCENY THEFT   AUTO\rTHEFT         ARSON
 1               RES        COM     AUTO\rBURG  GRAND\rTHEFT  PETTY\rTHEFT
 2                 1        NaN            NaN           NaN           NaN
 3               NaN        NaN            NaN             1           NaN
 4               NaN          1            NaN           NaN             1
 5                 1          1            NaN           NaN           NaN
 6               NaN        NaN            NaN           NaN           NaN
 7               NaN          1            NaN           NaN           NaN
 8                 3        NaN            NaN           NaN           NaN
 9               NaN        NaN              1           NaN           NaN
 10              NaN        NaN              1             2           NaN
 11              NaN          1              1             2           NaN
 12                1          4            NaN             2           NaN
 13              NaN          1              1             1             1
 14              NaN        NaN            NaN           NaN             1
 15              NaN          1              2             1           NaN
 16              NaN          3            NaN           NaN             1
 17              NaN        NaN            NaN           NaN           NaN
 18              NaN        NaN            NaN             1             2
 19              NaN          1            NaN           NaN             1
 20              NaN        NaN              1           NaN             1
 21              NaN        NaN            NaN             3             1
 22              NaN        NaN            NaN             1             1
 23              NaN        NaN            NaN             7           NaN
 24              NaN        NaN            NaN             4             3
 25              NaN        NaN              1             1           NaN
 26                1          1            NaN             3             1
 27              NaN          1            NaN             1           NaN
 28              NaN          2            NaN           NaN             1
 29                1          1            NaN             3             1
 30              NaN          1            NaN           NaN           NaN
 31              NaN          1            NaN           NaN           NaN
 32                1          1            NaN             3             1
 33              NaN        NaN            NaN             1           NaN
 34                3        NaN            NaN           NaN           NaN
 35              NaN          2            NaN             1           NaN

        Unnamed: 6     Unnamed: 7    Unnamed: 8  Unnamed: 9  Unnamed: 10  \
 0   TOTAL\rPART 1  TOTAL\rPART 2  GRAND\rTOTAL         NaN          NaN
 1     BIKE\rTHEFT            NaN           NaN         NaN          NaN
 2               2            NaN             1         NaN          4.0
 3               4            NaN             1         NaN          6.0
 4               1            NaN             2         NaN          6.0
 5             NaN              1             2         1.0          6.0
 6               1            NaN             2         NaN          3.0
 7             NaN            NaN           NaN         NaN          3.0
 8             NaN            NaN             1         NaN          4.0
 9             NaN            NaN           NaN         NaN          1.0
 10            NaN            NaN             1         NaN          4.0
 11              2              1           NaN         NaN          7.0
 12            NaN            NaN           NaN         NaN          9.0
 13              1            NaN             2         NaN          7.0
 14            NaN            NaN             1         NaN          4.0
 15            NaN            NaN           NaN         NaN          4.0
 16              1            NaN             2         NaN          8.0
 17              2            NaN           NaN         NaN          2.0
 18            NaN            NaN           NaN         NaN          3.0
 19            NaN            NaN             1         NaN          3.0
 20              1            NaN           NaN         NaN          4.0
 21              1            NaN             1         NaN          6.0
 22            NaN            NaN             1         1.0          4.0
 23              1            NaN             1         NaN         10.0
 24              5            NaN             1         NaN         15.0
 25              1            NaN             1         NaN          8.0
 26              4            NaN             1         NaN         12.0
 27            NaN            NaN           NaN         NaN          3.0
 28              3            NaN             2         NaN          8.0
 29              3            NaN           NaN         NaN         10.0
 30              3            NaN             1         NaN          5.0
 31            NaN              1             2         NaN          5.0
 32              2            NaN             2         NaN         11.0
 33              2              1             1         1.0          8.0
 34              1            NaN             1         NaN          5.0
 35            NaN            NaN             1         NaN          4.0

     Unnamed: 11  Unnamed: 12
 0           NaN          NaN
 1           NaN          NaN
 2           8.0         12.0
 3           9.0         15.0
 4          12.0         18.0
 5           9.0         15.0
 6           9.0         12.0
 7          12.0         15.0
 8           6.0         13.0
 9           3.0          5.0
 10          6.0         10.0
 11          7.0         14.0
 12          9.0         18.0
 13          3.0         10.0
 14          2.0          6.0
 15          3.0          7.0
 16          0.0          8.0
 17          2.0          4.0
 18          0.0          3.0
 19          1.0          4.0
 20          1.0          5.0
 21          4.0         10.0
 22          3.0          7.0
 23          8.0         18.0
 24          8.0         23.0
 25         23.0         31.0
 26         19.0         31.0
 27          7.0         10.0
 28         13.0         21.0
 29         11.0         21.0
 30          5.0         10.0
 31          6.0         11.0
 32         12.0         23.0
 33          8.0         16.0
 34          3.0          9.0
 35          8.0         12.0  ,
        RD CRIMES AGAINST PERSONS CRIMES AGAINST PROPERTY TOTALS Unnamed: 0  \
 0     NaN                 MURDER                 MANSLTR   RAPE    ROBBERY
 1     NaN                    NaN                     NaN    NaN        NaN
 2   183.0                    NaN                     NaN    NaN        NaN
 3   184.0                    NaN                     NaN    NaN          1
 4   191.0                    NaN                     NaN    NaN        NaN
 5   192.0                    NaN                     NaN    NaN          1
 6   193.0                    NaN                     NaN    NaN        NaN
 7   194.0                    NaN                     NaN    NaN        NaN
 8   201.0                    NaN                     NaN    NaN        NaN
 9   202.0                    NaN                     NaN    NaN        NaN
 10  203.0                    NaN                     NaN    NaN          1
 11  204.0                    NaN                     NaN    NaN          1
 12  211.0                    NaN                     NaN    NaN        NaN
 13  212.0                    NaN                     NaN    NaN        NaN
 14  213.0                    NaN                     NaN    NaN        NaN
 15  214.0                    NaN                     NaN    NaN          1
 16  215.0                    NaN                     NaN    NaN        NaN
 17  216.0                    NaN                     NaN    NaN        NaN
 18  221.0                    NaN                     NaN    NaN        NaN
 19  222.0                    NaN                     NaN    NaN        NaN
 20  223.0                    NaN                     NaN    NaN        NaN
 21  224.0                    NaN                     NaN    NaN          1
 22  225.0                    NaN                     NaN    NaN        NaN
 23  226.0                    NaN                     NaN    NaN          1
 24  231.0                    NaN                     NaN    NaN          1

In [54]:
len(an20)

9

In [55]:
an20[0]

,RD,CRIMES AGAINST PERSONS,CRIMES AGAINST PROPERTY,TOTALS,Unnamed: 0,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,Unnamed: 10,Unnamed: 11,Unnamed: 12
0,NaN,MURDER,MANSLTR,RAPE,ROBBERY,AGGRAV\rASSAULT,BURGLARY,LARCENY THEFT,AUTO\rTHEFT,ARSON,TOTAL\rPART 1,TOTAL\rPART 2,GRAND\rTOTAL,NaN,NaN,NaN,NaN
1,NaN,NaN,NaN,NaN,NaN,NaN,RES,COM,AUTO\rBURG,GRAND\rTHEFT,PETTY\rTHEFT,BIKE\rTHEFT,NaN,NaN,NaN,NaN,NaN
2,10.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,3.0,3.0
3,20.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1,NaN,NaN,NaN,NaN,NaN,1.0,3.0,4.0
4,21.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,4,NaN,NaN,NaN,4.0,0.0,4.0
5,30.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,0.0,0.0
6,31.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,1.0,1.0
7,41.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2,NaN,2.0,6.0,8.0
8,42.0,NaN,NaN,NaN,NaN,NaN,NaN,1,NaN,1,1,NaN,3,NaN,6.0,4.0,10.0
9,43.0,NaN,NaN,NaN,NaN,1,NaN,2,NaN,NaN,NaN,NaN,1,NaN,4.0,3.0,7.0
10,44.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2,NaN,NaN,NaN,2.0,8.0,10.0
11,45.0,NaN,NaN,NaN,NaN,NaN,NaN,1,NaN,NaN,NaN,NaN,NaN,NaN,1.0,3.0,4.0
12,51.0,NaN,NaN,NaN,NaN,NaN,1,NaN,NaN,NaN,1,NaN,NaN,NaN,2.0,1.0,3.0
13,52.0,1,NaN,NaN,NaN,1,NaN,NaN,1,1,1,NaN,1,NaN,6.0,7.0,13.0
14,53.0,NaN,NaN,NaN,NaN,2,2,3,4,NaN,NaN,NaN,NaN,NaN,11.0,9.0,20.0
15,61.0,NaN,NaN,NaN,NaN,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0,6.0,7.0
16,62.0,NaN,NaN,NaN,NaN,NaN,1,NaN,NaN,NaN,1,NaN,2,NaN,4.0,4.0,8.0
17,63.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,1.0,1.0
18,64.0,NaN,NaN,NaN,NaN,NaN,1,NaN,1,1,NaN,NaN,NaN,1.0,4.0,3.0,7.0
19,71.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2,NaN,2,NaN,4.0,4.0,8.0
20,72.0,NaN,NaN,NaN,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1,NaN,2.0,2.0,4.0
21,73.0,NaN,NaN,NaN,NaN,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0,3.0,4.0
22,74.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1,NaN,NaN,NaN,NaN,1.0,4.0,5.0
23,75.0,NaN,NaN,NaN,NaN,1,NaN,NaN,NaN,1,NaN,NaN,NaN,NaN,2.0,2.0,4.0
24,76.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1,1,NaN,1,NaN,3.0,6.0,9.0
25,81.0,NaN,NaN,2,NaN,NaN,NaN,NaN,1,NaN,1,1,NaN,NaN,5.0,29.0,36.0
26,82.0,NaN,NaN,NaN,3,NaN,1,NaN,3,2,2,2,NaN,NaN,13.0,10.0,24.0
27,83.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1,NaN,NaN,NaN,NaN,NaN,1.0,6.0,7.0
28,84.0,NaN,NaN,NaN,NaN,NaN,NaN,1,NaN,NaN,NaN,NaN,NaN,NaN,1.0,5.0,6.0
29,85.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,3.0,3.0
30,91.0,NaN,NaN,NaN,1,1,1,NaN,1,1,NaN,NaN,3,NaN,8.0,11.0,19.0
31,92.0,NaN,NaN,NaN,NaN,NaN,2,NaN,NaN,NaN,2,NaN,1,NaN,5.0,12.0,17.0
32,93.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1,NaN,1.0,10.0,11.0

In [56]:
column_names = ['rd','murder','manslaughter','rape','robbery','agg_assault','burglary_res','burglary_comm','burglary_auto',
                'grand_theft_auto','petty_theft','bike_theft','auto_theft','arson','total_against_persons','total_against_property',
                'total']
len(column_names)

17

In [57]:
df = an20[0].copy()
df.shape

(33, 17)

In [58]:
df.columns = column_names
df.head()

,rd,murder,manslaughter,rape,robbery,agg_assault,burglary_res,burglary_comm,burglary_auto,grand_theft_auto,petty_theft,bike_theft,auto_theft,arson,total_against_persons,total_against_property,total
0,NaN,MURDER,MANSLTR,RAPE,ROBBERY,AGGRAV\rASSAULT,BURGLARY,LARCENY THEFT,AUTO\rTHEFT,ARSON,TOTAL\rPART 1,TOTAL\rPART 2,GRAND\rTOTAL,NaN,NaN,NaN,NaN
1,NaN,NaN,NaN,NaN,NaN,NaN,RES,COM,AUTO\rBURG,GRAND\rTHEFT,PETTY\rTHEFT,BIKE\rTHEFT,NaN,NaN,NaN,NaN,NaN
2,10.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,3.0,3.0
3,20.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1,NaN,NaN,NaN,NaN,NaN,1.0,3.0,4.0
4,21.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,4,NaN,NaN,NaN,4.0,0.0,4.0

In [59]:
df = df.drop(index=[0,1])
df.head()

,rd,murder,manslaughter,rape,robbery,agg_assault,burglary_res,burglary_comm,burglary_auto,grand_theft_auto,petty_theft,bike_theft,auto_theft,arson,total_against_persons,total_against_property,total
2,10.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,3.0,3.0
3,20.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1,NaN,NaN,NaN,NaN,NaN,1.0,3.0,4.0
4,21.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,4,NaN,NaN,NaN,4.0,0.0,4.0
5,30.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,0.0,0.0
6,31.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,1.0,1.0

In [60]:
an20[1].columns = column_names
temp_df = an20[1].drop(index=[0,1])
temp_df

,rd,murder,manslaughter,rape,robbery,agg_assault,burglary_res,burglary_comm,burglary_auto,grand_theft_auto,petty_theft,bike_theft,auto_theft,arson,total_against_persons,total_against_property,total
2,94.0,NaN,NaN,NaN,NaN,1,NaN,NaN,NaN,NaN,2,NaN,1,NaN,4.0,8.0,12.0
3,101.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1,NaN,4,NaN,1,NaN,6.0,9.0,15.0
4,102.0,NaN,NaN,NaN,1,NaN,1,NaN,NaN,1,1,NaN,2,NaN,6.0,12.0,18.0
5,103.0,NaN,NaN,NaN,NaN,1,1,NaN,NaN,NaN,NaN,1,2,1.0,6.0,9.0,15.0
6,104.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1,NaN,2,NaN,3.0,9.0,12.0
7,111.0,NaN,NaN,1,1,NaN,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,3.0,12.0,15.0
8,112.0,NaN,NaN,NaN,NaN,3,NaN,NaN,NaN,NaN,NaN,NaN,1,NaN,4.0,6.0,13.0
9,113.0,NaN,NaN,NaN,NaN,NaN,NaN,1,NaN,NaN,NaN,NaN,NaN,NaN,1.0,3.0,5.0
10,114.0,NaN,NaN,NaN,NaN,NaN,NaN,1,2,NaN,NaN,NaN,1,NaN,4.0,6.0,10.0
11,121.0,NaN,NaN,NaN,NaN,NaN,1,1,2,NaN,2,1,NaN,NaN,7.0,7.0,14.0
12,122.0,NaN,NaN,NaN,2,1,4,NaN,2,NaN,NaN,NaN,NaN,NaN,9.0,9.0,18.0
13,123.0,NaN,NaN,NaN,NaN,NaN,1,1,1,1,1,NaN,2,NaN,7.0,3.0,10.0
14,124.0,NaN,NaN,NaN,2,NaN,NaN,NaN,NaN,1,NaN,NaN,1,NaN,4.0,2.0,6.0
15,131.0,NaN,NaN,NaN,NaN,NaN,1,2,1,NaN,NaN,NaN,NaN,NaN,4.0,3.0,7.0
16,132.0,NaN,NaN,NaN,1,NaN,3,NaN,NaN,1,1,NaN,2,NaN,8.0,0.0,8.0
17,133.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2,NaN,NaN,NaN,2.0,2.0,4.0
18,134.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1,2,NaN,NaN,NaN,NaN,3.0,0.0,3.0
19,141.0,NaN,NaN,NaN,NaN,NaN,1,NaN,NaN,1,NaN,NaN,1,NaN,3.0,1.0,4.0
20,142.0,NaN,NaN,NaN,1,NaN,NaN,1,NaN,1,1,NaN,NaN,NaN,4.0,1.0,5.0
21,143.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,3,1,1,NaN,1,NaN,6.0,4.0,10.0
22,144.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1,1,NaN,NaN,1,1.0,4.0,3.0,7.0
23,151.0,NaN,NaN,NaN,1,NaN,NaN,NaN,7,NaN,1,NaN,1,NaN,10.0,8.0,18.0
24,152.0,NaN,NaN,1,1,NaN,NaN,NaN,4,3,5,NaN,1,NaN,15.0,8.0,23.0
25,153.0,NaN,NaN,2,2,NaN,NaN,1,1,NaN,1,NaN,1,NaN,8.0,23.0,31.0
26,161.0,NaN,NaN,NaN,1,1,1,NaN,3,1,4,NaN,1,NaN,12.0,19.0,31.0
27,162.0,NaN,NaN,NaN,1,NaN,1,NaN,1,NaN,NaN,NaN,NaN,NaN,3.0,7.0,10.0
28,163.0,NaN,NaN,NaN,NaN,NaN,2,NaN,NaN,1,3,NaN,2,NaN,8.0,13.0,21.0
29,164.0,NaN,NaN,NaN,1,1,1,NaN,3,1,3,NaN,NaN,NaN,10.0,11.0,21.0
30,171.0,NaN,NaN,NaN,NaN,NaN,1,NaN,NaN,NaN,3,NaN,1,NaN,5.0,5.0,10.0
31,172.0,NaN,NaN,NaN,1,NaN,1,NaN,NaN,NaN,NaN,1,2,NaN,5.0,6.0,11.0
32,173.0,NaN,NaN,NaN,1,1,1,NaN,3,1,2,NaN,2,NaN,11.0,12.0,23.0
33,174.0,NaN,NaN,2,NaN,NaN,NaN,NaN,1,NaN,2,1,1,1.0,8.0,8.0,16.0
34,181.0,NaN,NaN,NaN,NaN,3,NaN,NaN,NaN,NaN,1,NaN,1,NaN,5.0,3.0,9.0
35,182.0,NaN,NaN,NaN,NaN,NaN,2,NaN,1,NaN,NaN,NaN,1,NaN,4.0,8.0,12.0

In [62]:
jan2020 = pd.concat([df, temp_df], ignore_index=True)
jan2020

,rd,murder,manslaughter,rape,robbery,agg_assault,burglary_res,burglary_comm,burglary_auto,grand_theft_auto,petty_theft,bike_theft,auto_theft,arson,total_against_persons,total_against_property,total
0,10.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,3.0,3.0
1,20.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1,NaN,NaN,NaN,NaN,NaN,1.0,3.0,4.0
2,21.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,4,NaN,NaN,NaN,4.0,0.0,4.0
3,30.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,0.0,0.0
4,31.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,1.0,1.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
60,172.0,NaN,NaN,NaN,1,NaN,1,NaN,NaN,NaN,NaN,1,2,NaN,5.0,6.0,11.0
61,173.0,NaN,NaN,NaN,1,1,1,NaN,3,1,2,NaN,2,NaN,11.0,12.0,23.0
62,174.0,NaN,NaN,2,NaN,NaN,NaN,NaN,1,NaN,2,1,1,1.0,8.0,8.0,16.0
63,181.0,NaN,NaN,NaN,NaN,3,NaN,NaN,NaN,NaN,1,NaN,1,NaN,5.0,3.0,9.0
64,182.0,NaN,NaN,NaN,NaN,NaN,2,NaN,1,NaN,NaN,NaN,1,NaN,4.0,8.0,12.0

In [63]:
an20[2].columns = column_names
temp_df = an20[2].drop(index=[0,1])
jan2020 = pd.concat([jan2020,temp_df], ignore_index=True)
jan2020

,rd,murder,manslaughter,rape,robbery,agg_assault,burglary_res,burglary_comm,burglary_auto,grand_theft_auto,petty_theft,bike_theft,auto_theft,arson,total_against_persons,total_against_property,total
0,10.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,3.0,3.0
1,20.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1,NaN,NaN,NaN,NaN,NaN,1.0,3.0,4.0
2,21.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,4,NaN,NaN,NaN,4.0,0.0,4.0
3,30.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,0.0,0.0
4,31.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,1.0,1.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
94,243.0,NaN,NaN,NaN,1,NaN,NaN,1,2,1,NaN,NaN,2,NaN,7.0,5.0,12.0
95,244.0,NaN,NaN,2,NaN,NaN,1,14,1,2,3,NaN,5,NaN,28.0,11.0,39.0
96,251.0,NaN,NaN,NaN,2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,4,NaN,6.0,5.0,11.0
97,252.0,NaN,NaN,NaN,NaN,2,1,NaN,NaN,NaN,1,NaN,2,NaN,6.0,9.0,15.0
98,253.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1,NaN,NaN,NaN,1.0,2.0,6.0,8.0

In [64]:
jan2020.isna()

,rd,murder,manslaughter,rape,robbery,agg_assault,burglary_res,burglary_comm,burglary_auto,grand_theft_auto,petty_theft,bike_theft,auto_theft,arson,total_against_persons,total_against_property,total
0,False,True,True,True,True,True,True,True,True,True,True,True,True,True,False,False,False
1,False,True,True,True,True,True,True,True,False,True,True,True,True,True,False,False,False
2,False,True,True,True,True,True,True,True,True,True,False,True,True,True,False,False,False
3,False,True,True,True,True,True,True,True,True,True,True,True,True,True,False,False,False
4,False,True,True,True,True,True,True,True,True,True,True,True,True,True,False,False,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
94,False,True,True,True,False,True,True,False,False,False,True,True,False,True,False,False,False
95,False,True,True,False,True,True,False,False,False,False,False,True,False,True,False,False,False
96,False,True,True,True,False,True,True,True,True,True,True,True,False,True,False,False,False
97,False,True,True,True,True,False,False,True,True,True,False,True,False,True,False,False,False
98,False,True,True,True,True,True,True,True,True,False,True,True,True,False,False,False,False

In [65]:
jan2020 = jan2020.fillna(0)
jan2020.head(9)

,rd,murder,manslaughter,rape,robbery,agg_assault,burglary_res,burglary_comm,burglary_auto,grand_theft_auto,petty_theft,bike_theft,auto_theft,arson,total_against_persons,total_against_property,total
0,10.0,0,0,0,0,0,0,0,0,0,0,0,0,0.0,0.0,3.0,3.0
1,20.0,0,0,0,0,0,0,0,1,0,0,0,0,0.0,1.0,3.0,4.0
2,21.0,0,0,0,0,0,0,0,0,0,4,0,0,0.0,4.0,0.0,4.0
3,30.0,0,0,0,0,0,0,0,0,0,0,0,0,0.0,0.0,0.0,0.0
4,31.0,0,0,0,0,0,0,0,0,0,0,0,0,0.0,0.0,1.0,1.0
5,41.0,0,0,0,0,0,0,0,0,0,0,0,2,0.0,2.0,6.0,8.0
6,42.0,0,0,0,0,0,0,1,0,1,1,0,3,0.0,6.0,4.0,10.0
7,43.0,0,0,0,0,1,0,2,0,0,0,0,1,0.0,4.0,3.0,7.0
8,44.0,0,0,0,0,0,0,0,0,0,2,0,0,0.0,2.0,8.0,10.0